<!-- ros_node_server.launch -->

<launch>
  <arg name="signal_list_topic"         default="signal_list_topic"         />
  <arg name="start_mission_topic"       default="start_mission_topic"       />
  
  <node name="dummy_signal_handler_node" type ="dummy_signal_handler_node.py" pkg ="gui_dummy_nodes">
    <param name="signal_list_topic"   value="$(arg signal_list_topic)"/>
  </node>

  <node name="dummmy_start_mission_node" type ="dummy_start_mission_node.py" pkg ="gui_dummy_nodes">
    <param name="start_mission_topic" value="$(arg start_mission_topic)"/>
  </node>

  <node name="gui_core" type ="main.py" pkg ="gui_core">
    <param name="signal_list_topic"   value="$(arg signal_list_topic)"/>
    <param name="start_mission_topic" value="$(arg start_mission_topic)"/>
  </node>


</launch>
